#Section-Prospect{
  margin-top: 10px;
  margin-bottom: 10px;
}

.Prospect-View-Pages{
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

#Prospect-View table{
  font-size: 14px;
  padding: 0px;
  margin: 5px;
}

#Prospect-View nav-link{
  font-size: 10px;
}

#Prospect-View-Tabs{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#Prospect-View-Tabs label{
  padding-top: 5px;
}

#Prospect-View-Tabs .input-group{
  padding: 0px;
  margin: 0px;
}

#Prospect-Tab1 input[type=checkbox]
{
    vertical-align: middle;
} 